<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="" class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>
    </a>
    <h5 class="my-0 mr-md-auto font-weight-normal">Nome da companhia</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Premium</a>
        <a class="p-2 text-dark" href="#">Suporte</a>
        <a class="p-2 text-dark" href="#">Preços</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Cadastro</a>
</div> -->

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Produtos</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Suporte</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>